@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Vazir.woff') format('woff2');
}
@font-face {
  font-family: 'VazirBold';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Vazir-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'FaNum';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/IRANSansWeb(FaNum).woff') format('woff2');
}


.accordion-content {
  transition: max-height 0.3s ease-out, padding 0.3s ease;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}
